h1{
    text-align: center;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
table {
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}
table {
    width: 50%;
    height: 50%;
}
tr th {
    border: 0;
    border-top: 0;
    font-size: 95%;
}
td {
    width: 33.33%;
    position: relative;
    margin-bottom: 50%;
    margin-top: 50%;
}
td:before {
    content: '';
    display: block;
    margin-bottom: 50%;
}
td:after {
    content: '';
    display: block;
    margin-top: 50%;
}
.square:hover {
    background-color: rgb(0, 255, 50);
}
.clicked:hover {
    background-color: rgb(255, 140, 230);
}
.gamers {
    font-family: futura;
    font-style: italic;
    width:100%;
    margin: 0 auto;
    text-align: center;
    color: #313131;
    font-size: 20px;
    font-weight: bold;
    -webkit-animation: colorchange 10s infinite alternate;
}

@-webkit-keyframes colorchange {
0% { color: blue; }
10% { color: #8e44ad;}
20% { color: #1abc9c;}
30% { color: #d35400;}
40% { color: blue;}
50% { color: #34495e;}
60% { color: blue;}
70% { color: #2980b9;}
80% { color: #f1c40f;}
90% { color: #2980b9;}
100% { color: pink;}
}