<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>Multi Page Checkout</title>
</head>
<body>
    <h1>Multi Page Checkout</h1>
    <div class="container">
        <div id="app"></div>
        <img src="https://images.unsplash.com/photo-1519397028973-5dbbdaecd2f8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e71af403f1fea800733284e2e0711d4f&auto=format&fit=crop&w=1950&q=80" alt=""/>
        <button id="checkout" class="big-btn">CHECKOUT>></button>
    </div>
    <script src="./app.js"></script>
</body>
</html>
