<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <title>CSV Report Generator</title>
</head>
<body>
    <h1>CSV Report Generator</h1>
    <div class="container">
        <form action="/upload_json" method="post" id="form">
            <label for="data">Paste your JSON data here: </label>
            <textarea name="data" id="json" cols="100" rows="10"></textarea>
            <input type="submit" value="Submit!" class="submit">
        </form>
    </div>
    <div class="container">
        <label for="file">Select JSON file here: </label>
        <input type="file" name="data" id="file" accept=".json">
        <button id="submitFile">Generate CSV File</button>
    </div>
    <div class="container">
        <label for="file">Download CSV file here: </label>
        <button><a id="download">Download CSV File</a></button>
    </div>
    <div id="result" class="container">
            <label for="resultData">See your CSV data here: </label>
            <textarea name="resultData" id="resultData" cols="100" rows="10"></textarea>
    </div>
    <script src="./app.js"></script>
</body>
</html>

