.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
body {
    text-align: center;
}
label {
    display: block;
    padding-bottom: 10px;
}
input {
    display: block;
    position: absolute;
    left: 50%;
}